@charset "UTF-8";
/*폰트*/
@import url("https://fonts.cdnfonts.com/css/samsungone");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "SamsungOne", sans-serif;
  font-size: 15px;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

ul, ol, li {
  list-style: none;
  padding: 0;
}

.inner {
  max-width: 1392px;
  width: 95%;
  margin: auto;
}