@import "variable.scss", "reset.scss";

/*----------- header -----------*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 11px 0;
  background-color: white;
  z-index: 300;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: $light-gray;
  }

  .inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-wrap {
      a {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 120px;
          height: 55px;
          margin-right: 3px;
        }

        span {
          font-weight: bold;
        }
      }
    }

    nav {
      .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        gap: 60px;

        li {
          a {
            position: relative;
            &::after {
              content: "";
              position: absolute;
              bottom: -4px;
              left: 0;
              width: 100%;
              height: 2px;
              transform: scale(0);
              background-color: black;
              transition: 0.3s;
            }

            &:hover::after {
              transform: scale(1);
            }
          }
        }
      }
    }

    .icon-wrap {
      display: flex;
      gap: 24px;

      button,a {
        font-size: 1.5rem;
        &.shopping-cart-btn {
          position: relative;
          &::before {
            content: "0";
            color: white;
            font-size: 11px;
            position: absolute;
            top: -5px;
            right: -7px;
            width: 19px;
            height: 19px;
            text-align: center;
            line-height: 18px;
            background-color: black;
            border-radius: 50%;
          }
        }

        &.hamburger-btn {
          display: none;
        }
      }
    }
  }

  .sub-menus-wrap {
    position: relative;
    background-color: $light-gray;
    max-height: 0;
    top: 9px;
    overflow: hidden;
    transition: 0.3s;

    &.active {
      max-height: 700px;
    }

    .mark-bar {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 0;
      left: 50px;
      background-color: #0072de;
      transition: 0.3s;
      z-index: 1;
    }

    .inner {
      .sub-menus {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 10;

        > li {
          flex: 1;
          padding: 32px 10px 32px 30px;
          border-right: 1px solid rgb(220, 220, 220);
          transition: 0.3s;

          &.active {
            color: white;

            a {
              color: white;
            }
          }

          &:nth-child(1) {
            border-left: 1px solid rgb(220, 220, 220);
          }

          > strong {
            font-size: 22px;
            font-weight: 600;
          }

          ul.sub-menu-down {
            margin-top: 24px;

            > li {
              position: relative;
              margin-bottom: 9px;
              a{
                transition: 0.3s;
              }
              &::after{
                content: '';
                position: absolute;
                width: 0%; height: 1px;
                background-color: white;
                left: 0; bottom: 0;
                transition: 0.3s;
              }
              &:hover{
                a{
                  font-weight: 600;
                }
                &::after{
                  width: 100%;
                }
              }
            
            }
          }
        }
      }
    }
  }

  .mobile-nav {
    background-color: white;
    position: fixed;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 100%;
    transition: 0.25s;
    z-index: 300;

    &.active {
      left: 0;
    }

    .login-wrap {
      background-color: black;
      color: white;
      padding: 50px 20px 30px;

      .mobile-close-btn {
        position: absolute;
        top: 20px;
        right: 10px;
        width: 35px;
        height: 35px;
        font-size: 1.2rem;
        color: white;
      }

      p:nth-of-type(2) {
        margin-top: 14px;
      }

      .login-btn {
        display: block;
        width: 80px;
        margin-top: 14px;
        background-color: white;
        color: black;
        text-align: center;
        border-radius: 130px;
        padding: 5px 0;
        font-size: 14px;
      }
    }

    .accordion-wrap {
      .accordion-list {
        > li {
          cursor: pointer;

          &.active {
            span {
              font-weight: bold;
            }

            .accordion-menu {
              display: block;
            }
          }

          span {
            position: relative;
            font-size: 18px;
            padding: 16px 20px;
            display: block;
            border-bottom: 1px solid $normal-gray;
            background-color: white;

            &::after {
              content: "\F282";
              font-family: "bootstrap-icons";
              position: absolute;
              right: 20px;
              font-size: 1.5rem;
            }
          }

          .accordion-menu {
            display: none;
            background-color: $light-gray;
            padding: 10px 40px;

            li {
              a {
                display: block;
                padding: 8px 0;
              }
            }
          }
        }
      }
    }

    .mobile-etc-menu {
      padding-bottom: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      a {
        margin-top: 30px;
        text-align: center;
        width: 33.3%;
        display: block;
      }
    }
  }
}

/*----------- search-wrap -----------*/
.search-wrap {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 500;

  &.active {
    display: block;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }

  .search-wrap-inner {
    background-color: white;

    .inner {
      position: relative;
      padding-top: 152px;
      padding-bottom: 90px;
      max-width: 920px;
      width: 90%;
      margin: auto;

      > div {
        margin: 0 24px;
      }

      .search-title {
        text-align: center;
        font-size: 35px;
      }

      .input-search {
        position: relative;
        margin-top: 30px;
        -webkit-appearance: none;
        -moz-appearance: none;
        input {
          width: 100%;
          height: 60px;
          padding: 10px 0 8px 30px;
          border-radius: 130px;
          border: 1px solid black;
          font-size: 16px;
        }

        .search-btn {
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 1.3rem;
        }
      }

      .popularity-term-wrap {
        margin-top: 60px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        > p {
          font-size: 18px;
          font-weight: bold;
        }

        .term-btn-wrap {
          display: flex;
          align-items: center;
          gap: 15px;

          button {
            height: 30px;
            line-height: 30px;
          }
        }
      }

      .recent-term-wrap {
        border-top: 1px solid $normal-gray;
        padding-top: 20px;
        display: flex;
        justify-content: space-between;

        > p {
          font-size: 18px;
          font-weight: bold;
        }

        button {
          position: relative;
          font-size: 13px;
          font-weight: bold;

          &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: black;
          }
        }
      }

      .search-close-btn {
        position: absolute;
        right: 0px;
        top: 50px;
        font-size: 2.5rem;
      }
    }
  }
}

/*----------- main-visual -----------*/
.main-visual {
  width: 100vw;
  margin-top: 77px;
  height: 500px;

  .swiper {
    width: 100%;
    height: 100%;

    .swiper-wrapper {
      .swiper-slide {
        position: relative;

        .background-img {
          width: 100%;
          height: 100%;
          position: absolute;

          > img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }

          .visual-pc {
            display: block;
          }

          .visual-mobile {
            display: none;
          }

          z-index: -1;
        }

        .text-wrap {
          max-width: 1392px;
          width: 90%;
          height: 100%;
          margin: auto;
          padding: 0 100px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          strong.visual-title {
            font-size: 36px;

            span {
              font-size: 22px;
            }
          }

          > p {
            margin-top: 24px;
            margin-bottom: 46px;
          }

          > a.visual-more-btn {
            width: 100px;
            font-size: 14px;
            text-align: center;
            line-height: 40px;
            background-color: black;
            color: white;
            border-radius: 130px;
          }
        }

        &:nth-child(2) {
          .text-wrap {
            strong.visual-title {
              line-height: 1.3;
            }
          }
        }
      }
    }

    .inner {
      top: 50%;
      left: 50%;
      height: 90%;
      transform: translate(-50%, -50%);
      position: absolute;
      z-index: 100;
      pointer-events: none;

      .swiper-button-next,
      .swiper-button-prev {
        color: black;
        pointer-events: all;
        opacity: 1;
        transform: scale(0.8);
      }

      .swiper-pagination {
        .swiper-pagination-bullet {
          width: 84px;
          height: 2px;
          border-radius: 0;
          opacity: 1;
          background-color: black;

          &.swiper-pagination-bullet-active {
            background-color: white;
          }
        }
      }

      .play-pause-btn-wrap {
        width: 420px;
        height: 25px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        bottom: 0;

        > button {
          position: absolute;
          right: 0;
          font-size: 1.5rem;
          display: none;
          pointer-events: all;

          &.active {
            display: block;
          }
        }
      }
    }
  }
}

/*----------- main-search -----------*/
.main-search {
  .inner {
    width: 920px;
    padding: 0 24px;

    .input-wrap {
      position: relative;

      input {
        width: 100%;
        height: 52px;
        border-radius: 130px;
        padding-left: 30px;
        border: 1px solid $dark-gray;
        font-size: 15px;
        -webkit-appearance: none;
        -moz-appearance: none;
      }

      button {
        position: absolute;
        right: 18px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.3rem;
      }
    }

    .search-btn-wrap {
      margin-top: 10px;
      text-align: center;

      button {
        margin: 5px 10px 0 10px;
        color: #444;
      }
    }
  }
}

/*----------- select-product -----------*/
.select-product {
  margin-top: 80px;
  padding: 20px 0 80px 0;
  background-color: $light-gray;

  .inner {
    .product-warp {
      display: flex;
      flex-wrap: wrap;

      a {
        display: block;
        width: 192px;
        height: 195px;
        padding-top: 45px;
        text-align: center;

        &:hover {
          span {
            border-bottom: 2px solid black;
          }

          .icon-warp {
            &::after {
              animation: circle-move linear 1.2s both;
            }

            @keyframes circle-move {
              0% {
                transform: scale(0);
              }

              50% {
                transform: scale(1);
              }

              100% {
                transform: scale(0.8);
              }
            }
          }
        }

        /*마우스를가 나가면 자연스럽게 줄어들게 함*/
        &:not(:hover) {
          .icon-warp::after {
            animation: circle-exit 0.6s ease forwards;
          }
        }

        @keyframes circle-exit {
          0% {
            transform: scale(0.8);
          }

          100% {
            transform: scale(0);
          }
        }

        .icon-warp {
          width: 96px;
          height: 96px;
          margin: 0 auto 20px auto;
          background-color: white;
          overflow: hidden;
          border-radius: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          &::after {
            content: "";
            top: 50%;
            left: 50%;
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            z-index: 10;
            transition: 0.3s;
            transform: scale(0);
          }
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(14) {
          .icon-warp {
            &::after {
              background-color: $product-blue;
            }
          }
        }

        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(13) {
          .icon-warp {
            &::after {
              background-color: $product-purple;
            }
          }
        }

        &:nth-child(6),
        &:nth-child(9),
        &:nth-child(10),
        &:nth-child(11),
        &:nth-child(12) {
          .icon-warp {
            &::after {
              background-color: $product-green;
            }
          }
        }

        &:nth-child(1) {
          .icon-warp {
            &::after {
              top: 14px;
              left: 60px;
            }
          }
        }

        &:nth-child(2) {
          .icon-warp {
            &::after {
              top: 72px;
              left: 64px;
            }
          }
        }

        &:nth-child(3) {
          .icon-warp {
            &::after {
              top: 16px;
              left: 16px;
            }
          }
        }

        &:nth-child(4) {
          .icon-warp {
            &::after {
              top: 12px;
              left: 24px;
            }
          }
        }

        &:nth-child(5) {
          .icon-warp {
            &::after {
              top: 71px;
              left: 34px;
            }
          }
        }

        &:nth-child(6) {
          .icon-warp {
            &::after {
              top: 18px;
              left: 52px;
            }
          }
        }

        &:nth-child(7) {
          .icon-warp {
            &::after {
              top: 10px;
              left: 12px;
            }
          }
        }

        &:nth-child(8) {
          .icon-warp {
            &::after {
              top: 56px;
              left: 72px;
            }
          }
        }

        &:nth-child(9) {
          .icon-warp {
            &::after {
              top: 64px;
              left: 68px;
            }
          }
        }

        &:nth-child(10) {
          .icon-warp {
            &::after {
              top: 16px;
              left: 30px;
            }
          }
        }

        &:nth-child(11) {
          .icon-warp {
            &::after {
              top: 63px;
              left: 41px;
            }
          }
        }

        &:nth-child(12) {
          .icon-warp {
            &::after {
              top: 15px;
              left: 66px;
            }
          }
        }

        &:nth-child(13) {
          .icon-warp {
            &::after {
              top: 50px;
              left: 16px;
            }
          }
        }

        &:nth-child(14) {
          .icon-warp {
            &::after {
              top: 18px;
              left: 55px;
            }
          }

          .more {
            display: none;
          }
        }

        span {
          font-weight: 500;
        }
      }
    }
  }
}

/*----------- select-product -----------*/
.main-oneself-solution {
  .inner {
    .banner-wrap {
      width: 100%;
      margin-top: 30px;
      display: flex;
      gap: 24px;

      a {
        flex: 1;

        &:hover {
          .img {
            img {
              transform: scale(1.05);
            }
          }
        }

        .img {
          border-radius: 20px;
          overflow: hidden;

          img {
            width: 100%;
            transition: 0.8s;
          }
        }

        strong {
          display: block;
          margin-top: 20px;
          margin-left: 24px;
          font-size: 24px;
        }

        p {
          padding-left: 24px;
        }
      }
    }
  }
}
/*----------- main-service-info -----------*/
.main-service-info {
  .inner {
    .service-info-warp {
      display: flex;
      flex-wrap: wrap;
      .info {
        flex: 1 0 33.3%;
        height: 208px;
        padding: 20px 0;
        a {
          padding: 16px 160px 0 20px;
          display: block;
          height: 100%;
          position: relative;
          border-left: 1px solid $normal-gray;
          &::after {
            content: "바로가기";
            position: absolute;
            left: 16px;
            bottom: 16px;
            font-weight: 700;
            text-decoration: underline;
          }
          &::before {
            content: "";
            position: absolute;
            top: -20px;
            left: 20px;
            right: 20px;
            height: 1px;
            background-color: $normal-gray;
          }
          &:hover {
            p {
              span {
                top: 0;
              }
            }
          }
          strong {
            font-size: 22px;
          }
          p {
            position: relative;
            top: 14px;
            overflow: hidden;
            span {
              position: relative;
              top: -100px;
              transition: 0.2s;
            }
          }
          img {
            position: absolute;
            top: 50%;
            right: 48px;
            transform: translateY(-50%);
          }
        }
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          a {
            &::before {
              height: 0;
            }
          }
        }
        &:nth-child(1),
        &:nth-child(4) {
          a {
            border-left: none;
          }
        }
      }
    }
  }
}
/*----------- main-service-tip -----------*/
.main-service-tip {
  margin-top: 80px;
  padding: 80px 0 50px 0;
  background-color: #131313;
  color: white;
  .inner {
    position: relative;
    padding: 0 64px;
    .title {
      margin-top: 0;
      margin-bottom: 16px;
    }
    > p {
      text-align: center;
    }
    .swiper {
      padding: 30px 0;
      width: 100%;
      margin-top: 40px;
      box-sizing: border-box;
      .swiper-wrapper {
        .swiper-slide {
          width: 620px;
          height: 250px;
          a {
            overflow: hidden;
            box-sizing: border-box;
            display: block;
            position: relative;
            padding: 60px 50px;
            width: 100%;
            height: 100%;
            &:hover {
              overflow: inherit;
              > img {
                transform: translateY(-50px) scale(1.3);
              }
            }
            .background-img {
              position: absolute;
              top: 0;
              left: 0;
              z-index: -1;
              width: 100%;
              height: 100%;
              img {
                border-radius: 20px;
                width: 100%;
                height: 100%;
              }
            }
            .text-wrap {
              color: white;
              .tip-title {
                font-size: 24px;
                font-weight: 700;
                line-height: 30px;
              }
              p {
                margin-top: 27px;
              }
            }
            > img {
              position: absolute;
              right: 60px;
              bottom: -60px;
              width: 246px;
              height: 246px;
              transition: 0.3s;
            }
          }
        }
      }
      .play-pause-btn-wrap {
        position: relative;
        width: 230px;
        height: 20px;
        margin: 25px auto 0 auto;
        .swiper-pagination {
          .swiper-pagination-bullet {
            width: 84px;
            height: 2px;
            opacity: 1;
            border-radius: 0;
            background-color: #4c4c4c;
            &.swiper-pagination-bullet-active {
              background-color: white;
            }
          }
        }
        > button {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          color: white;
          font-size: 1.5rem;
          display: none;
          &.active {
            display: block;
          }
        }
        .play-btn {
        }
        .pause-btn {
        }
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      color: transparent;
      position: absolute;
      top: 60%;
      width: 44px;
      height: 44px;
      opacity: 1;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        border-top: 2px solid white;
        border-right: 2px solid white;
        transform: rotate(45deg);
      }
    }
    .swiper-button-prev {
      &::after {
        transform: rotate(-135deg);
      }
    }
  }
}
/*----------- main-blog -----------*/
.main-blog {
  .inner {
    .blog-wrap {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      .blog {
        flex: 1;
        a {
          &:hover {
            > strong {
              text-decoration: underline;
            }
          }
          .thumb {
            img {
              border-radius: 20px;
              width: 100%;
            }
          }
          > strong {
            display: block;
            padding: 0 20px 2px 20px;
            margin: 16px 0 10px 0;
            line-height: 30px;
            font-size: 24px;
          }
          > p {
            padding: 0 20px;
          }
        }
      }
    }
  }
}
/*----------- main-notice -----------*/
.main-notice {
  .inner {
    .notice-wrap {
      display: flex;
      border-radius: 20px;
      border: 1px solid $normal-gray;
      .notice {
        position: relative;
        flex: 1;
        padding: 30px 30px 53px 30px;
        a {
          font-size: 18px;
          font-weight: 500;
          &:hover {
            text-decoration: underline;
          }
        }
        span {
          position: absolute;
          bottom: 28px;
          left: 30px;
          color: $dark-gray;
          display: inline-block;
        }
        &:nth-child(2) {
          border-right: 1px solid $normal-gray;
          border-left: 1px solid $normal-gray;
        }
      }
    }
  }
}
/*----------- footer -----------*/
footer {
  position: relative;
  margin-top: 100px;
  padding-bottom: 40px;
  border-top: 1px solid $normal-gray;
  .inner {
    .footer-pages {
      padding: 18px 0 18px 0;
      a {
        position: relative;
        margin-top: 7px;
        margin-right: 24px;
        &:hover {
          font-weight: 500;
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            bottom: -2px;
            background-color: black;
          }
        }
      }
    }
    > hr {
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      border: none;
      background-color: $normal-gray;
    }
    .footer-company-info {
      margin-top: 20px;
      line-height: 1.5;
      > p {
        max-width: 1200px;
        span {
          position: relative;
          display: inline-block;
          margin-right: 20px;
          font-size: 14px;
          &:last-child {
            &::after {
              width: 0px;
            }
          }
          &::after {
            content: "";
            position: absolute;
            right: -12px;
            top: 4px;
            width: 1px;
            height: 12px;
            background-color: $normal-gray;
          }
        }
      }
      .copyright {
        > p {
          font-size: 14px;
        }
      }
    }
    .footer-sub-site {
      margin-top: 22px;
      .footer-link {
        display: flex;
        > p {
          display: flex;
          margin-top: 6px;
          strong {
            font-weight: 700;
            font-size: 20px;
            padding-right: 16px;
            line-height: 30px;
          }
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            vertical-align: top;
            margin-right: 25px;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background-color: black;
            overflow: hidden;
            &:nth-child(3) {
              background-color: transparent;
            }
            i {
              color: white;
              font-size: 1.3rem;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .footer-relatedsite {
          display: flex;
          gap: 15px;
          .form-select {
            position: relative;
            width: 190px;
            &:nth-child(1) {
              > button {
                &::after {
                  content: "";
                  position: absolute;
                  right: 8px;
                  top: 17px;
                  transform: rotate(135deg);
                  width: 10px;
                  height: 10px;
                  border-left: 1px solid black;
                  border-bottom: 1px solid black;
                }
              }
            }
            &:nth-child(2) {
              > button {
                &::after {
                  content: "";
                  position: absolute;
                  width: 10px;
                  height: 10px;
                  right: 8px;
                  top: 17px;
                  border-left: 1px solid black;
                  border-bottom: 1px solid black;
                  transform: rotate(180deg);
                }
                &::before {
                  content: "";
                  position: absolute;
                  width: 17px;
                  height: 1px;
                  right: 7px;
                  bottom: 15px;
                  background-color: black;
                  transform: rotate(140deg);
                }
              }
            }
            > button {
              position: relative;
              display: inline-block;
              width: 100%;
              height: 40px;
              border-bottom: 1px solid black;
              text-align: left;
              span {
                font-size: 15px;
                color: $dark-gray;
              }
            }
            .select {
              display: none;
              width: 100%;
              overflow-y: scroll;
              position: absolute;
              bottom: 40px;
              border: 1px solid #a9a9a9;
              background-color: white;
              z-index: 10;
              border-radius: 10px;
              &.active {
                display: block;
              }
              > strong,
              .colse-select-btn {
                display: none;
              }
              ul {
                max-height: 200px;
                li {
                  a {
                    display: block;
                    min-height: 50px;
                    padding: 14px 20px 12px 20px;
                    line-height: 1.5;
                  }
                }
              }
            }
          }
        }
        .footer-etc {
          padding-left: 24px;
          .footer-etc-wrap {
            a {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
  .app-floating-btn {
    position: fixed;
    right: 20px;
    bottom: 150px;
    z-index: 60;
    width: 60px;
    height: 0;
    &.no-fixed{
      position: absolute;
      bottom: calc(100% + 150px);
      right: 20px;
    }
    .ui-draggable {
      position: relative;
      left: -1px;
      top: 2px;
      a {
        position: absolute;
        width: 60px;
        height: 60px;
        top: -70px;
        right: 0;
        z-index: 60px;
        transition: 0.3s;
        background-color: #0072de;
        border-radius: 50%;
        &:hover,
        &.active {
          width: 250px;
          border-radius: 130px;
          text-shadow: 1px 1px 0 black;
          span {
            opacity: 1;
          }
        }
        img {
          position: absolute;
          right: 0;
          width: 60px;
        }
        span {
          position: absolute;
          width: 160px;
          right: 70px;
          top: 10px;
          font-size: 13px;
          font-weight: 700;
          color: white;
          opacity: 0;
          pointer-events: none;
          transition: 0.2s;
        }
      }
      .open-floating-btn {
        position: relative;
        width: 60px;
        height: 60px;
        background: url("../images/bg-floating.png");
        background-size: cover;
        span {
          position: absolute;
          width: 24px;
          height: 24px;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          transition: 0.2s;
          &.active {
            transform: rotate(405deg);
          }
          &::before {
            content: "";
            position: absolute;
            top: calc(50% - 1px);
            left: 0;
            width: 24px;
            height: 2px;
            background-color: white;
          }
          &::after {
            content: "";
            position: absolute;
            top: calc(50% - 1px);
            left: 0;
            width: 24px;
            height: 2px;
            background-color: white;
            transform: rotate(90deg);
          }
        }
      }
      .floating-warp {
        position: absolute;
        bottom: 70px;
        width: 60px;
        &.active {
          li {
            a {
              opacity: 1;
              visibility: visible;
            }
            &:nth-child(1) {
              a {
                top: -140px;
              }
            }
            &:nth-child(2) {
              a {
                top: -210px;
              }
            }
            &:nth-child(3) {
              a {
                top: -280px;
              }
            }
          }
        }
        li {
          a {
            top: 0;
            transition: 0.3s;
            opacity: 0;
            visibility: hidden;
          }
          &:nth-child(2),
          &:nth-child(3) {
            a {
              background-color: #00b3e3;
            }
          }
        }
      }
    }
  }
  .top-btn {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 20px; bottom: 20px;
    z-index: 60;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    &.no-fixed{
      position: absolute;
      bottom: calc(100% + 20px);
    }
    &.active {
      opacity: 1;
      visibility: visible;
    }
    i {
      font-size: 1.8rem;
      color: white;
    }
  }
}
@media (max-width: 1440px) {
  /*----------- header -----------*/
  header {
    .inner {
      nav {
        .menu {
          gap: 24px;
        }
      }
    }
  }
}
@media (max-width: 1391px) {
  /*----------- main-service-tip -----------*/
  .main-service-tip {
    .inner {
      .swiper {
        .play-pause-btn-wrap {
          width: 336px;
          margin: 40px auto 0 auto;
          box-sizing: border-box;
          .swiper-pagination {
            .swiper-pagination-bullet {
              width: calc(82px - 8px);
            }
          }
          > button {
            right: -20px;
          }
        }
      }
    }
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  /*----------- main-visual -----------*/
  .main-visual {
    height: 37.22vw;

    .swiper {
      width: 100%;
      height: 100%;

      .swiper-wrapper {
        .swiper-slide {
          position: relative;

          .background-img {
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;

            z-index: -1;
          }

          .text-wrap {
            max-width: 1392px;
            width: 100%;
            height: 100%;
            margin: auto;
            padding: 0 5.55vw;
            display: flex;
            flex-direction: column;
            justify-content: center;

            strong.visual-title {
              font-size: 2.5vw;

              span {
                font-size: 22px;
              }
            }

            > p {
              margin-top: 1.66vw;
              margin-bottom: 3.19vw;
            }
          }
        }
      }
    }

    .inner {
      width: 100%;
      height: 90%;
    }
  }
  /*----------- select-product -----------*/
  .select-product {
    .inner {
      .product-warp {
        a {
          flex: 1 0 14%;
        }
      }
    }
  }
  /*----------- main-service-info -----------*/
  .main-service-info {
    .inner {
      .service-info-warp {
        .info {
          height: 228px;
          a {
            padding-right: 144px;
            p {
              span {
                br {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1023px) {
  .title {
    font-size: 26px;
    margin-top: 55px;
    margin-bottom: 20px;
  }
  .inner {
    width: 93%;
  }
  /*----------- header -----------*/
  header {
    width: 100%;
    height: 61px;
    .inner {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      nav {
        display: none;
      }

      .icon-wrap {
        button,a {
          &.shopping-cart-btn,
          &.mypage-btn {
            display: none;
          }

          &.search-view-open-btn {
            font-size: 1.4rem;
          }

          &.hamburger-btn {
            display: block;
            font-size: 1.8rem;
          }
        }
      }
    }
  }
  /*----------- search-wrap -----------*/
  .search-wrap {
    &::after {
      display: none;
    }

    .search-wrap-inner {
      height: 100vh;
      overflow-y: hidden;

      .inner {
        padding-top: 90px;
        padding-bottom: 40px;
        width: 93%;
        > div {
          margin: 0;
        }

        .search-title {
          font-size: 24px;
        }

        .popularity-term-wrap {
          margin-top: 40px;

          .term-btn-wrap {
            flex-direction: column;
            align-items: flex-start;
            gap: 3px;
          }
        }

        .search-close-btn {
          top: 20px;
          font-size: 2rem;
        }
      }
    }
  }
  /*----------- main-visual -----------*/
  .main-visual {
    margin-top: 61px;
    height: 140vw;

    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          position: relative;

          .background-img {
            .visual-pc {
              display: none;
            }

            .visual-mobile {
              display: block;
            }
          }

          .text-wrap {
            margin: auto;
            padding: 15vw 0;
            justify-content: start;
            align-items: center;
            text-align: center;

            strong.visual-title {
              font-size: 7vw;

              span {
                font-size: 22px;
              }
            }

            > p {
              font-size: 4.44vw;
              margin-top: 3.61vw;
              margin-bottom: 7.22vw;
            }

            > a.visual-more-btn {
              width: 100px;
              font-size: 14px;
              text-align: center;
              line-height: 40px;
              background-color: black;
              color: white;
              border-radius: 130px;
            }
          }

          &:nth-child(2) {
            .text-wrap {
              strong.visual-title {
                font-size: 7vw;
                line-height: 1.3;
              }
            }
          }

          &:nth-child(3) {
            .text-wrap {
              > p {
                margin-top: 24px;
                margin-bottom: 20px;
              }
            }
          }
        }
      }

      .inner {
        height: 96%;
        .swiper-pagination {
          .swiper-pagination-bullet {
            width: calc(7vw - 8px);
            height: 1px;
          }
        }

        .play-pause-btn-wrap {
          width: 28vw;
          height: 25px;
          left: 48%;
          bottom: 12px;
          > button {
            right: -20px;
          }
        }
      }
    }
  }

  /*----------- main-search -----------*/
  .main-search {
    display: none;
  }

  /*----------- select-product -----------*/
  .select-product {
    margin-top: 0;

    .inner {
      .product-warp {
        display: flex;
        flex-wrap: wrap;

        a {
          width: 25%;
          height: 100px;
          padding-top: 7px;
          margin-bottom: 15px;

          &:hover {
            span {
              border: none;
            }

            .icon-warp {
              &::after {
                animation: none;
              }
            }
          }

          &:not(:hover) {
            .icon-warp::after {
              animation: none;
            }
          }

          .icon-warp {
            width: 60px;
            height: 60px;
            margin: 0 auto 10px auto;
            background-color: white;
            overflow: hidden;
            border-radius: 16px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 100%;
              height: 100%;
            }
          }

          span {
            display: block;
            width: 90%;
            margin: auto;
            font-size: 13px;
          }

          &:last-child {
            &.active {
              .icon-warp {
                background-color: white;

                &::before {
                  content: "";
                  background-color: transparent;
                }
              }
              .pc-on {
                display: block;
              }
              .more {
                display: none;
              }
            }

            .icon-warp {
              position: relative;
              background-color: transparent;

              &::before {
                content: "+";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: black;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2rem;
              }
            }

            .pc-on {
              display: none;
            }

            .more {
              display: block;
            }
          }
        }
      }
    }
  }

  /*----------- main-oneself-solution -----------*/
  .main-oneself-solution {
    .inner {
      .banner-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;

        a {
          width: 100%;

          &:hover {
            .img {
              img {
                transform: scale(1);
              }
            }
          }

          strong {
            margin-left: 10px;
            font-size: 20px;
          }

          p {
            margin-left: 10px;
            padding-left: 0;
          }
        }
      }
    }
  }
  /*----------- main-service-info -----------*/
  .main-service-info {
    .inner {
      .service-info-warp {
        display: block;
        .info {
          height: 70px;
          padding: 0;
          border-bottom: 1px solid $normal-gray;
          a {
            padding: 20px 20px 20px 84px;
            height: 100%;
            display: block;
            position: relative;
            border-left: none;
            &::after {
              content: "";
            }
            &::before {
              content: "";
              position: absolute;
              left: auto;
              top: 50%;
              right: 8px;
              transform: rotate(45deg) translateY(-50%);
              width: 12px;
              height: 12px !important;
              background-color: transparent;
              border-top: 1px solid black;
              border-right: 1px solid black;
            }
            strong {
              font-size: 19px;
            }
            p {
              display: none;
            }
            img {
              position: absolute;
              top: 50%;
              right: auto;
              left: -10px;
              transform: translateY(-50%) scale(0.5);
            }
          }
          &:nth-child(1) {
            border-top: 1px solid $normal-gray;
          }
        }
      }
    }
  }
  /*----------- main-service-tip -----------*/
  .main-service-tip {
    margin-top: 60px;
    padding: 55px 0 40px 0;
    .inner {
      position: relative;
      padding: 0;
      .title {
        margin-top: 0;
        margin-bottom: 10px;
      }
      .swiper {
        padding: 0;
        width: 100%;
        margin-top: 30px;
        .swiper-wrapper {
          .swiper-slide {
            width: 100%;
            height: 160px;
            a {
              overflow: hidden;
              display: block;
              position: relative;
              padding: 50px 170px 0 30px;
              &:hover {
                overflow: hidden;
                > img {
                  transform: scale(1);
                }
              }
              .background-img {
                img {
                  border-radius: 10px;
                }
              }
              .text-wrap {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 30%;
                .tip-title {
                  font-size: 18px;
                  br {
                    display: none;
                  }
                }
                p {
                  display: none;
                }
              }
              > img {
                right: 0px;
                bottom: -40px;
                width: 190px;
                height: 190px;
              }
            }
          }
        }
        .play-pause-btn-wrap {
          width: 28vw;
          margin: 40px auto 0 auto;
          box-sizing: border-box;
          .swiper-pagination {
            left: -10px;
            .swiper-pagination-bullet {
              width: calc(7vw - 8px);
            }
          }
          > button {
            right: -15px;
          }
        }
      }
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }
  }
  /*----------- main-blog -----------*/
  .main-blog {
    .inner {
      .blog-wrap {
        gap: 20px;
        .blog {
          width: calc(50% - 18px);
          flex: auto;
          a {
            .thumb {
              img {
                border-radius: 10px;
              }
            }
            &:hover {
              > strong {
                text-decoration: none;
              }
            }
            > strong {
              display: block;
              padding: 0;
              margin: 16px 0 6px 0;
              line-height: 28px;
              font-size: 20px;
            }
            > p {
              padding: 0;
            }
          }
        }
      }
    }
  }
  /*----------- main-notice -----------*/
  .main-notice {
    .inner {
      .notice-wrap {
        flex-wrap: wrap;
        border-radius: 10px;
        .notice {
          position: relative;
          width: 100%;
          flex: auto;
          padding: 26px 20px 16px 20px;
          a {
            display: block;
            &:hover {
              text-decoration: none;
            }
          }
          span {
            position: inherit;
            margin-top: 12px;
            bottom: 0;
            left: 0;
          }
          &:nth-child(2) {
            border-top: 1px solid $normal-gray;
            border-bottom: 1px solid $normal-gray;
            border-left: 0;
            border-right: 0;
          }
        }
      }
    }
  }
  /*----------- footer -----------*/
  footer {
    margin-top: 80px;
    padding-bottom: 30px;
    .inner {
      .footer-pages {
        padding: 14px 0 14px 0;
        a {
          display: inline-block;
          margin-right: 20px;
          margin-bottom: 14px;
          font-size: 14px;
          &:hover {
            font-weight: normal;
            &::after {
              background-color: transparent;
            }
          }
        }
      }
      .footer-company-info {
        margin-top: 14px;
        .copyright {
          margin-top: 16px;
        }
      }
      .footer-sub-site {
        margin-top: 22px;
        .footer-link {
          display: flex;
          flex-wrap: wrap;
          > p {
            width: 100%;
            strong {
              display: none;
            }
          }
          .footer-relatedsite {
            width: calc(100% - 10px);
            gap: 20px;
            margin-right: 20px;
            margin-top: 10px;
            .form-select {
              width: 100%;
              max-width: 240px;
              &:nth-child(1) {
                > button {
                  &::after {
                    content: "";
                    position: absolute;
                    right: 8px;
                    top: 17px;
                    transform: rotate(135deg);
                    width: 10px;
                    height: 10px;
                    border-left: 1px solid black;
                    border-bottom: 1px solid black;
                  }
                }
              }
              &:nth-child(2) {
                > button {
                  &::after {
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    right: 8px;
                    top: 17px;
                    border-left: 1px solid black;
                    border-bottom: 1px solid black;
                    transform: rotate(180deg);
                  }
                  &::before {
                    content: "";
                    position: absolute;
                    width: 17px;
                    height: 1px;
                    right: 7px;
                    bottom: 15px;
                    background-color: black;
                    transform: rotate(140deg);
                  }
                }
              }
              > button {
                position: relative;
                display: inline-block;
                width: 100%;
                height: 40px;
                border-bottom: 1px solid black;
                text-align: left;
                span {
                  font-size: 15px;
                  color: $dark-gray;
                }
              }
              .select {
                position: fixed;
                left: 0;
                bottom: 0;
                border-radius: 10px 10px 0 0;
                padding: 25px 20px;
                overflow-y: inherit;
                box-shadow: 3px 0 18px rgba(0, 0, 0, 0.2);
                &.active {
                  display: block;
                }
                > strong {
                  display: block;
                  font-size: 17px;
                  border-bottom: 1px solid black;
                  padding-bottom: 15px;
                  line-height: 1;
                }
                ul {
                  overflow-y: scroll;
                  max-height: 200px;
                  li {
                    border-bottom: 1px solid #d8d8d8;
                    &:last-child {
                      border-bottom: none;
                    }
                    a {
                      &:hover {
                        background-color: $light-gray;
                      }
                    }
                  }
                }
                .colse-select-btn {
                  display: block;
                  position: absolute;
                  right: 10px;
                  top: 15px;
                  width: 34px;
                  height: 34px;
                  padding: 10px;
                  &::before {
                    content: "";
                    position: absolute;
                    top: calc(50% - 1px);
                    left: 50%;
                    width: 20px;
                    height: 2px;
                    background-color: #181818;
                    transform: translateX(-50%) rotate(45deg);
                  }
                  &::after {
                    content: "";
                    position: absolute;
                    top: calc(50% - 1px);
                    left: 50%;
                    width: 20px;
                    height: 2px;
                    background-color: #181818;
                    transform: translateX(-50%) rotate(-45deg);
                  }
                }
              }
            }
          }
          .footer-etc {
            padding-left: 24px;
            .footer-etc-wrap {
              margin-top: 30px;
              max-width: 227px;
              a {
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
    .app-floating-btn {
      .ui-draggable {
        a {
          &:hover,
          &.active {
            width: 60px;
            border-radius: 50%;
            span {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1023px) and (max-width: 359px) {
  /*----------- select-product -----------*/
  .select-product {
    margin-top: 0;
    padding: 20px 0 80px 0;
    background-color: $light-gray;

    .inner {
      .product-warp {
        display: flex;
        flex-wrap: wrap;

        a {
          width: 50%;
          height: 100px;
          padding-top: 7px;

          &:hover {
            .icon-warp {
              &::after {
                animation: none;
              }
            }
          }

          &:not(:hover) {
            .icon-warp::after {
              animation: none;
            }
          }

          .icon-warp {
            width: 60px;
            height: 60px;
            margin: 0 auto 20px auto;
            background-color: white;
            overflow: hidden;
            border-radius: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &::after {
              content: "";
              top: 50%;
              left: 50%;
              position: absolute;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              z-index: 10;
              transition: 0.3s;
              transform: scale(0);
            }
          }

          span {
            font-weight: 500;
          }
        }
      }
    }
  }
}
@media (max-width: 580px) {
  /*----------- footer -----------*/
  footer {
    .inner {
      .footer-sub-site {
        .footer-link {
          .footer-relatedsite {
            .form-select {
              max-width: 162px;
            }
          }
        }
      }
    }
  }
}
